
.basket {
  @include mixins.flex(column);
  gap: 2rem;
  height: 100%;
  &__title {
    font-size: $titleFontSize;
  }
  &__list {
    padding: 0;
    margin: 0;
    flex-grow: 1;
  }

  &__amount {
    margin-left: 2em;
  }

}